azure-functions
azure-storage-blob
PyPDF2
pdfplumber
pytesseract
Pillow
requests
pyodbc
azure-identity
pdf2image
pathlib
opencv-python
opencv-contrib-python
poppler-utils
logging
PyPDF2
azure.identity
python-dotenv
poppler-utils
logging
PyPDF2
azure.identity
python-dotenv
pdf2image>=1.16.3
