azure-functions
azure-storage-blob
PyPDF2
pdfplumber
pytesseract
Pillow
pyodbc
azure-identity
pdf2image
pathlib
opencv-python
opencv-contrib-python
poppler-utils
logging
python-dotenv
pdf2image>=1.16.3
